*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: green;
    font-family: ui-serif;

}
.main-1{
    /* background-color: rgb(209, 5, 5); */
    min-height: 90vh;
}
.fa-hive{
    color: rgb(76,109,240);
}
.main-navbar{
    border-bottom: 1px solid rgb(240, 240, 240) !important;
}
.main-navbar-brand{
    color: rgb(76,109,240);
}
.main-nav-button{
    border-radius: 20px !important;
    background-color: transparent !important;
    color: black !important;
    border: 2px solid rgb(76,109,240) !important;
    width: 90px;
    height: 40px;
}
.main-nav-button-1{
    border-radius: 20px !important;
    width: 115px;
    background-color: rgb(76,109,240) !important;
    border-color: rgb(76,109,240) !important;
}

.main-nav-button-2{
    border-radius: 25px !important;
    width: 134px;
    background-color: rgb(76,109,240) !important;
    margin-left: 30px;
    height: 45px;
    border: none !important;
    cursor: pointer;
}
.main-heading{
    margin-top: 70px;
    font-size: 55px;
    margin-left: 30px;
    color: rgb(76,109,240);
    font-weight: bold;
}
.main-text{
    margin-top: 30px;
    margin-left: 30px;
}
.table-heading{
    border-top: 1px solid rgb(218, 218, 218);
    color: white !important;
}
.table-data{

    border-right: 1px solid  rgb(218, 218, 218) !important;
}
.space-icon{
    background-color: rgb(236, 235, 235);
    list-style: none;
    margin-top: 7%;
    height: 15px;
    color: transparent;
}
.table-heading-color{
    background-color: rgb(236, 235, 235) !important;
}

.space-icon-1{
    background-color: rgb(66, 212, 139);
    border-radius: 20px;
    list-style: none;
    height: 12px;
    margin-top: 7px;
    color: transparent;
}
.space-icon-2{  
    list-style: none;
    /* height: 12px; */
    min-width: 30px;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(76,109,240);
}
.modal-title{
    font-size: 25px;    
    text-align: center;
    justify-content: center;
    font-weight: bold !important;
    padding-top: 20px;
    padding-left: 10px;
}
.upload-button{
    background-color: rgb(76,109,240) !important;
    width: 130px;
    /* border-radius: 23px !important; */
    height: 45px;
}
.form-label{
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(121, 119, 119);
}

.result-resume{
    margin-top: 10%;
    max-height: 450px;
    min-height: 450px;
    background-color: rgb(250, 250, 250) ;
    padding-right: 20px;
    color: black;
    border: 2px solid rgb(240, 240, 240) ;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
  }
  ::-webkit-scrollbar-track {
    background: transparent; /* Background color of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid rgb(255, 255, 255); /* Space around the scrollbar thumb */
  }

.main-heading-2{
    font-size: 30px;
    margin-left: 30px;
    color: rgb(76,109,240);
    font-weight: bold;
}

.result-resume-1{
    margin-top: 10%;
    overflow-y: scroll;
    max-height: 450px;
    min-height: 450px;
    padding-right: 20px;
    color: black;
}

.according-body{
    min-height: 400px !important;
}
.space-icon-3{
    border-right: 1px solid rgb(224, 223, 223);
}